<section class="hero is-primary is-bold">
    
        <div class="container">

            <h1 class="title">Contact Us for now !</h1>
            <progress class="progress is-primary" value="66" max="100"></progress>
       
    </div>
</section>
<!-- form goes here -->
<form (ngSubmit)="processForm()">
        <div class="field"> {{message}}</div>
    <!-- name -->
    <div class="field">
        <input type="text" name="firstName" class="input" placeholder="Your First Name" [(ngModel)]="firstName" required minlength="3">
    </div>

     <!-- name -->
     <div class="field">
            <input type="text" name="lastName" class="input" placeholder="Your Last Name" [(ngModel)]="lastName" required minlength="3">
        </div>

    <!-- email -->
    <div class="field">
        <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" required email>
    </div>

    <!-- message -->
    <div class="field">

        <textarea class="textarea" name="address" placeholder="Your address" [(ngModel)]="address" required></textarea>
    </div>

    <!-- phone no -->
    <div class="field">
        <input type="text" name="phone" class="input" placeholder="Your phone number" [(ngModel)]="phone" required
            maxlength="10">

    </div>

    <button type="submit" class="button is-link is-medium">Submit</button>

</form>