<nav class="navbar is-light">

    <!-- logo -->
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://angularjs.org/img/angularjs-for-header-only.svg">
        </a>
    </div>


    <!-- menu -->
    <div className="navbar-menu is-dark">
        <div class="navbar-start is-dark">
            <a className="navbar-item is-link" routerLink="">Home</a>
            <a className="navbar-item is-link" routerLink="contact"> Contact</a>
            <a className="navbar-item is-link" routerLink="users"> Users</a>
        </div>
    </div>

</nav>