<section class="hero is-info is-bold">

  <div class="container">

    <h1 class="title">Home Page!</h1>
    <progress class="progress is-primary" value="33" max="100"></progress>

  </div>
</section>

<section class="section">
   
  <p class="block">lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id purus id ex ornare rutrum ac
    quis justo. Phasellus a feugiat tortor, et molestie elit. Nam vitae lacus elementum, vulputate augue tempus,
    volutpat nibh. Nunc vitae vulputate neque, ut ornare nunc. Praesent eu suscipit felis, id congue enim. Quisque ac
    dolor sed velit tempor pulvinar varius ut erat. Donec sed dignissim risus. Donec ac orci ligula. Etiam velit urna,
    hendrerit ac ultrices quis, semper euismod ex. Integer sit amet pretium risus. Nullam sit amet ligula quis justo
    ultricies rhoncus. Integer tincidunt diam non leo fringilla venenatis. Sed at mi gravida, tempus nunc eu, dapibus
    tortor. Donec bibendum congue magna vel elementum. Praesent in leo nec nunc dignissim hendrerit. Sed nec rhoncus
    est.</p>
  <p class="block">Praesent at sagittis lectus. Suspendisse lacinia dignissim sollicitudin. Curabitur id purus et ex
    faucibus fermentum. Morbi eget est id odio elementum congue. Donec mi sem, hendrerit non interdum eu, rutrum in
    neque. Duis commodo sit amet ex in iaculis. Nunc vitae porttitor lacus. Vestibulum at rutrum risus. Mauris placerat
    laoreet mi, et suscipit arcu venenatis sed. Pellentesque commodo ullamcorper quam nec pharetra. Donec sagittis
    dapibus libero id porttitor. Suspendisse dignissim condimentum quam, nec placerat sapien lacinia sed. Aenean sed
    ligula in dolor porttitor elementum.</p>
  <p class="block"> Cras odio elit, sagittis eleifend est id, faucibus pulvinar dolor. Suspendisse potenti. Suspendisse
    turpis magna, varius nec purus vel, convallis semper mi. Suspendisse potenti. Donec consectetur enim urna, sed
    sollicitudin dui feugiat in. Ut rutrum condimentum justo, consequat congue turpis scelerisque in. Ut ligula ligula,
    fermentum id porttitor quis, gravida at orci. In tempus facilisis arcu, at pulvinar tellus pretium elementum.
    Praesent iaculis sapien in mi bibendum, et volutpat nulla ultrices. Duis sed leo libero. Sed nisi quam, elementum eu
    ipsum at, vehicula maximus nulla. Vestibulum et quam blandit, rutrum tellus a, tempor est. Aliquam hendrerit augue
    ut tellus accumsan, ac blandit tellus blandit.</p>
  <p class="block">Nulla malesuada nulla eu mi dapibus fermentum. Fusce sodales ligula lectus, eget viverra justo
    tincidunt vel. Pellentesque risus tellus, pellentesque ut sagittis ut, malesuada id nibh. Ut sagittis velit nec orci
    finibus, sit amet hendrerit leo ultricies. Suspendisse rhoncus quam nisi, in viverra ligula sollicitudin at. Fusce
    ac risus hendrerit, viverra nisl sed, tristique mi. Ut id convallis justo. Proin congue sollicitudin nulla eget
    lobortis. Morbi vestibulum mauris eget bibendum venenatis. Cras tempor volutpat dui eu rutrum. Sed vitae mauris
    feugiat, bibendum metus eu, feugiat ipsum. Nullam id magna sed nibh molestie dignissim in quis magna. Nullam ante
    ipsum, tincidunt ac nunc eget, pellentesque vulputate libero. Cras imperdiet, enim sed blandit pulvinar, ipsum diam
    ultrices nulla, semper gravida velit enim eget ante. Aenean eleifend lacus in neque interdum, et dignissim enim
    ornare.</p>
  <p class="block">Maecenas in nunc id lorem vestibulum consectetur. Aenean vel vehicula nulla. Praesent vitae consequat
    erat. Nunc pulvinar, quam in dictum fringilla, ante tortor dapibus orci, in molestie nisl purus sed lorem. Duis a
    ante leo. Donec vehicula ligula mi, ut tempor metus tincidunt venenatis. Curabitur ultricies odio ut diam mollis
    sagittis. Phasellus bibendum maximus erat, at auctor arcu tempor vehicula. Maecenas id faucibus risus. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit.</p>
</section>